

$font__main: 'Montserrat', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font__weight_heavy: 700;
$font__weight_medium: 400;
$font__weight_light: 300;
$font__weight_thin: 100;

$font__size_woo-h1: 4rem;
$font__size_woo-price: 2.4rem;
$font__size_woo-short-desc: 2.0rem;
$font__size_woo-loop-listing: 1.7rem;